[submodule "rules"]
    path = rules
    url = https://github.com/pirate-party-uk/rules.git

[submodule "policy"]
    path = policy
    url = https://github.com/pirate-party-uk/policy.git

[submodule "pirate-party-uk.github.io"]
    path = pirate-party-uk.github.io
    url = https://github.com/pirate-party-uk/pirate-party-uk.github.io.git
