[submodule "etc/press_releases"]
  path = output
  url = https://github.com/TransAdvocacyAndComplaintCollective/press_releases.git

[submodule "etc/articles"]
  path = etc/articles
  url = https://github.com/TransAdvocacyAndComplaintCollective/articles.git

[submodule "output"]
  path = output
  url = https://github.com/Collaboration-of-International-Pirates/Collaboration-of-International-Pirates.github.io.git
