// Specify Firestore security rules version
rules_version = '2';

// Define rules for Firestore database documents
service cloud.firestore {

  // Match any document in the 'customers' collection
  match /databases/{database}/documents {

    match /customers/{uid} {
      // Allow read access only if the authenticated user's UID matches the document's UID
      allow read: if request.auth.uid == uid;

      // Define rules for the 'checkout_sessions' collection within a customer document
      match /checkout_sessions/{id} {
        // Allow read and write access only if the authenticated user's UID matches the customer's UID
        allow read, write: if request.auth.uid == uid;
      }

      // Define rules for the 'subscriptions' collection within a customer document
      match /subscriptions/{id} {
        // Allow read access only if the authenticated user's UID matches the customer's UID
        allow read: if request.auth.uid == uid;
      }

      // Define rules for the 'payments' collection within a customer document
      match /payments/{id} {
        // Allow read access only if the authenticated user's UID matches the customer's UID
        allow read: if request.auth.uid == uid;
      }
    }

    // Define rules for the 'products' collection
    match /products/{id} {
      // Allow read access unconditionally (anyone can read products)
      allow read: if true;

      // Define rules for the 'prices' collection within a product document
      match /prices/{id} {
        // Allow read access unconditionally (anyone can read prices)
        allow read: if true;
      }

      // Define rules for the 'tax_rates' collection within a product document
      match /tax_rates/{id} {
        // Allow read access unconditionally (anyone can read tax rates)
        allow read: if true;
      }
    }



    // Define rules for the 'users' collection
    match /users/{uid} {
      // Allow read and write access only if the request is authenticated and the user's UID matches the document's UID
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
