html, body {
    margin: 0;
    padding: 0;
    background-color: #FDF8E1;
    overflow: scroll; /* Show scrollbars */
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    margin-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1976d2;
}

.btn-primary {
    background-color: #1976d2;
}

.navbar {
    background: rgb(247,168,184);
    background: linear-gradient(45deg, rgba(247,168,184,1) 0%, rgba(255,255,255,1) 45%, rgba(85,205,252,1) 100%);
    border-bottom: 1px solid #1976d2;
    padding: 16px;
    font-weight: 600;
}

img.logo {
    width: 240px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #0d65bd;
}

.nav-link:active {
    color: #1976d2;
}

footer {
    margin-top: auto;
    background: rgb(247,168,184);
    background: linear-gradient(45deg, rgba(247,168,184,1) 0%, rgba(255,255,255,1) 45%, rgba(85,205,252,1) 100%);
    border-top: 1px solid #1976d2;
    padding: 20px;
    text-align: center;
}

p.footer {
    font-weight: 400;
    color: black;
    font-size: 16px;
}

div.content {
    font-family: 'Roboto', 'Tahoma', sans-serif;
    /*font-size: 1.0rem;*/
}

/* Article Page Css for Markdown Pages. */

#author {
    font-weight: 500;
    font-size: 16px;
}
#date {
    font-weight: 300;
    font-size: 14px;
}

div.entry-content h2 {
    font-size: 1.4rem;
}

.card-body {
    background: #f5fcff;
}

div.entry-content h3 {
    font-size: 1.2rem;
}

div.entry-content a:link {
    color: #1976d2;
}

div.entry-content a:hover {
    color: #79A3FD;
}

div.card-title.h5 {
    color: #1976d2 !important;
}

div.social-links {
    padding-top: 6px;
}

/*h1, .h1 {*/
/*    font-size: calc(1.375rem + 1.5vw);*/
/*}*/
/*@media (min-width: 1200px) {*/
/*    h1, .h1 {*/
/*        font-size: 2.5rem;*/
/*    }*/
/*}*/

/*h2, .h2 {*/
/*    font-size: calc(1.325rem + 0.9vw);*/
/*}*/
/*@media (min-width: 1200px) {*/
/*    h2, .h2 {*/
/*        font-size: 2rem;*/
/*    }*/
/*}*/

/*h3, .h3 {*/
/*    font-size: calc(1.3rem + 0.6vw);*/
/*}*/
/*@media (min-width: 1200px) {*/
/*    h3, .h3 {*/
/*        font-size: 1.75rem;*/
/*    }*/
/*}*/

/*h4, .h4 {*/
/*    font-size: calc(1.275rem + 0.3vw);*/
/*}*/
/*@media (min-width: 1200px) {*/
/*    h4, .h4 {*/
/*        font-size: 1.5rem;*/
/*    }*/
/*}*/

/*h5, .h5 {*/
/*    font-size: 1.25rem;*/
/*}*/

/*h6, .h6 {*/
/*    font-size: 1rem;*/
/*}*/
