html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
    margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #1976d2;
}

.btn-primary {
    background-color: #1976d2;
}

/* This add a right hand margin so that buttons inline have a space on the articles page. */
a.mr-2 {
    margin-right: 6px;
}

.navbar {
    background: rgb(247,168,184);
    background: linear-gradient(45deg, rgba(247,168,184,1) 0%, rgba(255,255,255,1) 45%, rgba(85,205,252,1) 100%);
    border-bottom: 1px solid #1976d2;
    padding: 16px;
    font-weight: 600;
}

img.logo {
    width: 250px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #0d65bd;
}

.nav-link:active {
    color: #1976d2;
}

footer {
    margin-top: auto;
    background: rgb(247,168,184);
    background: linear-gradient(45deg, rgba(247,168,184,1) 0%, rgba(255,255,255,1) 45%, rgba(85,205,252,1) 100%);
    border-top: 1px solid #1976d2;
    padding: 20px;
    text-align: center;
}

p.footer {
    font-weight: 400;
    color: black;
    font-size: 16px;
}

div.content {
    font-family: 'Roboto', 'Tahoma', sans-serif;
    font-size: 1.0rem;
}

/* Article Page Css for Markdown Pages. */

#author {
    font-weight: 500;
    font-size: 18px;
}
#date {
    font-weight: 300;
    font-size: 16px;
}

div.entry-content h2 {
    font-size: 1.4rem;
}

div.entry-content h3 {
    font-size: 1.2rem;
}

div.entry-content a:link {
    color: #1976d2;
}

div.entry-content a:hover {
    color: #79A3FD;
}